#app {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Roboto', sans-serif;
}

.layout {
    width: 54%;
    margin: 0 auto;
}
.layout .screen {
    width: 100%; 
    height: 50px;  
    border: solid 3px blue;
    border-color: blue transparent transparent transparent;
    border-radius: 50%/50px 50px 0 0;
}

.layout .row {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin: 10px 0;
}
.layout .row .seat {
    width: 15px;
    height: 25px;
    border: 1px solid blue;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.layout .row .seat.seat--reserved {
    border-color: darkgrey!important;
    background: darkgrey!important;
    cursor: not-allowed!important;
}
.layout .row .seat.price--low {
    border-color: lightblue;
    color: lightblue;
}
.layout .row .seat.price--medium {
    border-color: blue;
    color: blue;
}
.layout .row .seat.price--high {
    border-color: yellow;
    color: yellow;
}
.layout .row .seat:hover {
    background: currentColor;
}
.layout .row .seat.seat--selected {
    border-color: currentColor;
    background: currentColor;
}
.layout .row .seat.seat--selected:hover {
    box-shadow: inset 0px 0px 1px 0px darkgrey;
}

.cart {
    width: 45%;
}
.cart .cart_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    margin: 10px;
    background: lightgray;
    position: relative;
}
.cart .cart_item span {
    text-align: center;
}
.cart .cart_item .price {
    font-weight: bold;
    color: blue;
    font-size: 2em;
}
.cart .cart_item .delete {
    color: gray;
    position: absolute;
    right: 10px;
    top: 5px;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.cart button {
    display: block;
    width: 95%;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px auto;
    background: lightblue;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    box-sizing: border-box;
}
.cart button:hover {
    background: blue;
}